СП_2/L1/ipch/
СП_2/L1/L1.VC.VC.opendb
СП_2/L1/L1/Debug/
СП_2/L1/Debug/
СП_2/L1/L1.VC.db
СП_2/L1/.vs/L1/v14/.suo
СП_2/L2/.vs/
*.opendb
*.pdb
*.ilk
*.db
СП_2/L3/L3/Debug/
*.ipch
*.suo
СП_2/L4/Debug/
СП_2/L4/L4/Debug/
*.filters
СП_2/L2/L2/Debug/
СП_2/L2/Debug/
СП_2/L5/Debug/
СП_2/L6/L6/Debug/
СП_2/L7/Debug/
СП_2/L7/L7/Debug/
СП_2/L5/L5/Debug/
СП_2/L8/L8/Debug/
СП_2/L8/Debug/
СП_3/ChildProcess/ChildProcess/Debug/
СП_3/L5/L5/Debug/
СП_3/L6/Debug/
СП_3/L6/L6/Debug/
СП_3/L5/Debug/
СП_3/L4/L4/Debug/
СП_3/L3/L3/Debug/
СП_3/ParentProcess/ParentProcess/Debug/
СП_3/L2/L2/Debug/
СП_3/ChildProcess/Debug/
СП_3/L1/L1/Debug/
СП_3/L3/Debug/
СП_3/L2/Debug/
СП_3/L1/Debug/
СП_3/L4/Debug/
СП_3/ParentProcess/Debug/
